<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ReplyMapper">
	<insert id="register">
		insert into reply_table(rno,brno,mrno,writer,content) values(reply_sequence.nextval,#{brno},#{mrno},#{writer},#{content})
	</insert>
	<select id="getreply" resultType="com.spring.domain.ReplyDTO">
		select * from reply_table where brno = #{bbno}
	</select>

</mapper>